{% extends '::base.html.twig' %}

{% block title %}{{ 'views.user.default.index.title'|trans }}{% endblock %}

{% block page %}
    <dl class="sub-nav">
        <dt>{{ 'views.user.default.index.join'|trans }}</dt>
        <dd>
            <a href="{{ path('fos_user_registration_register') }}">{{ 'views.user.default.index.register'|trans }}</a>
        </dd>
        <dd>
            <a href="{{ path('fos_user_security_login') }}">{{ 'views.user.default.index.login'|trans }}</a>
        </dd>
        <dd>
            <a href="{{ path('hwi_oauth_connect') }}">{{ 'views.user.default.index.tiers'|trans }}</a>
        </dd>
    </dl>
    <div class="row">
        <div class="small-12 large-12 columns text-center section">
            {% include '::Animate/Tigrou.html.twig' with {'id' : 'toto1'} %}
            {#
            {% include '::Animate/Circle.html.twig' %}
            {% include '::Animate/Tigrou.html.twig' with {'id' : 'toto2'} %}
            #}
        </div>
    </div>
{% endblock page %}

{% block javascripts %}
    {{ parent() }}

    <script>

        var Animation = function (element) {
            this.element = element;
            this.width = element.css('width').replace('px', '');
            this.height = element.css('height').replace('px', '');
            this.styleLeft = 'position: absolute; left:0; top: 0; z-index:10;display:inline-block;';
            this.styleRight = 'position: absolute; right:0; top: 0; z-index:10;display:inline-block;';

            this.rebuildElement = function () {
                var _self = this;
                var animation = _self.element.find('span:first');
                var background = 'background-image:' + animation.css('background-image');
                background = background.replace('"', '\'').replace('"', '\'');
                console.log(background);
                var elementGauche = _self.element.append('<span style="' + _self.styleLeft + ' ' + background + ';width: ' + _self.width / 2 + 'px; height: ' + _self.height + 'px; animation: zimzim-bounce linear 10s infinite;"></span>');
                //animation.hide();
            }
        }

        var Anim = new Animation($('#toto1'));
        Anim.rebuildElement();
        console.log(Anim);

    </script>
{% endblock javascripts %}