{% block extends %}
{{ "{% extends '::base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block title %}" }}
    {{ "{{ '" ~ route_name_prefix ~ ".index.title'|trans }}" }}
{{ "{% endblock title %}" }}

{{ "{% block page %}" }}
    <div class="row">
        <div class="small-12 large-12 columns">
            <h1 class="text-center title">{{ entity }} list</h1>
        </div>
    </div>
    {% if 'new' in actions %}
        <div class="row">
            <div class="small-12 large-12 columns">
                <a class="tiny button" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">
                    {{ "{{ 'button.create'|trans }}" }}
                </a>
            </div>
        </div>
    {% endif %}

    {{ "{{ grid_search(grid) }}" }}

    {{ "{{ grid(grid) }}" }}

{{ "{% endblock %}" }}
{% endblock body %}
